// @todo these should be their own CSS files and only included when
// specific Drupal libraries are used.
/*
@import "component/alert";
@import "component/ajax";
@import "component/field";
@import "component/file";
@import "component/filter";
@import "component/form";
@import "component/icon";
@import "component/navbar";
@import "component/node";
@import "component/panel";
@import "component/progress-bar";
@import "component/table-drag";
@import "component/tabs";
@import "component/toolbar";

// jQuery UI style overrides.
@import "jquery-ui/autocomplete";

ol, ul {
  padding-left: 1.5em;
  .popover &:last-child {
    margin-bottom: 0;
  }
}

// Page header.
.page-header {
  margin-top: 0;
}

// Footer.
.footer {
  margin-top: 45px;
  padding-top: 35px;
  padding-bottom: 36px;
  border-top: 1px solid #E5E5E5;
}

// Paragraphs.
p:last-child,
.form-group:last-child,
.panel:last-child {
  margin-bottom: 0;
}

// Help region.
.region-help {
  > .glyphicon {
    font-size: @font-size-large;
    float: left;
    margin: -0.05em 0.5em 0 0;
  }
  .block {
    overflow: hidden;
  }
}


.help-block, .control-group .help-inline {
  color: @gray-light;
  font-size: 12px;
  margin: 5px 0 10px;
  padding: 0;
  &:first-child {
    margin-top: 0;
  }
}
*/
//TWO DOORS default overrides //todo
@import '../css/two_doors/bootstrap.min.css';
@import '../css/two_doors/font-awesome.min.css';
@import '../css/two_doors/font.css';
@import '../css/two_doors/prettyPhoto.css';
@import '../css/two_doors/main.css';
@import '../css/two_doors/responsive.css';


//TRANSFERHUB ovverrides
/*
html.html.twig (header, footer...)
*/
//General
img {
  margin-bottom: 10px;
}

//TOP BAR
.container-top
{
  min-height: 45px;
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: rgba(1, 1, 1, 0.7);

}
.region-navigation-top{
  float: right;
  color: white !important;
  a {
    color: white !important;
  }
}

//LOGO
.navbar-brand
{
  background-color: transparent !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
.navbar-header
{
  background-color: transparent !important;
}
.navbar-header:before
{
  background-color: transparent !important;
}
@media (min-width: @screen-sm) {
  .navbar-brand img
  {
    position: relative;
    top: -42px;
  }
}

//LOGIN MENU
#block-transferhub-account-menu ul
{
  margin-right: 0 !important;
}

//content CONTAINER
.main-blog-no-node
{
  padding-top: 50px !important;
}

//FOOTER MENU
@media (min-width: @screen-sm)
{
  #footer ul.menu li
  { float: left;}
}
#footer a
{
  color: white;
}

//FORMS
.user-register-form .filter-help
{
  display: none;
}

//password sugestions
div.password-suggestions
{
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
  ul {
    margin-left: 15px;
    list-style: inherit;
  }
}

input#edit-pass-pass2{
  margin-bottom: 10px;
}

div.password-confirm span.ok{
  padding: 7px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

div.password-confirm span.error {
  padding: 7px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}

  //user forms
/*@media (min-width: @screen-sm) {
  .user-login-form
  {
    width: 30%;
    margin-left: auto;
    margin-right: auto;
  }
}*/
//buttons
/*button span.icon:before
{
  content: "";
}*/

//TABS
.nav-tabs>li.active>a
{
  cursor: default;
  background-color: #fff;
  border: 1px solid #ddd;
  border-bottom-color: transparent;
}
nav.tabs.container {
  margin-bottom: 30px;
}

//User profil page
body.user-logged-in{
  h4.label
  {
    color: black;
    font-size: 100%;
  }
  img
  {
    margin-bottom: 10px;
  }
}

//page search form
form.search-page-form
{
  display: none;
}

//Projects views
.view-projects .grid-row
{
  margin-top: 25px;
}

//My projects view
div.field--name-field-tags .field--item
{
  width: auto;
  float: right;
  padding: 2px 8px;
  background-color: #F5F5F5;
  margin-left: 8px;
  margin-top: 8px;
  font-size: 13px;

  a {
    color: #454545;
  }
}

.view-projects .tags{
  border-bottom: 1px solid #eee;
}

//Promoted front
 .view-display-id-block_1 .col-sm-3{

   text-align: left;

   .field--name-field-image {

     text-align: center ;

     img {

       display: inline;

     }
   }
 }

 //Project page
div.project-social
{
  //margin-top: 30px;
  padding-top: 20px !important;
}
div.post-social
{
   background-color: inherit !important;

  .tags .field--item
  {
    background-color: white;

  }
}
div.project-content
{
  padding-top: 25px !important;
}

.page-node-type-project #blog-breadcrumb img
{
  margin-bottom: 0 !important;
}

#blog-breadcrumb.project-header,
#blog-breadcrumb.project-footer
{
  background-image: none;
  background-color: #454545;
  color: white;
}
.post.post-devices
{
  .field--item {
    display: inline;
  }
  li{
    vertical-align: top;
    margin-top: 20px;
    span.text {
      font-size: 16px;
    }
  }
  .device-icon{
    font-size: 60px;
  }
  .device-icon-sm{
    font-size: 50px;
  }
}

//Vote block
#block-transferhubvotingblock
{
  padding: 20px 20px;
}

//Sidebar
.page-node-type-project .widget-area
{
  .organization {
      h3 {
        margin-top: 0;
      }
      .more {
        float: right;
        margin-top: 15px;
      }
  }
}

//donors
div.post.donor .media
{
  border-bottom: 1px solid #d8d8d8;
}

.practices .media
{
  border-bottom: 1px solid white;
}

//Good practices

//Form project edition
.node-project-form, .node-project-edit-form {
  .field--name-field-desktop,
  .field--name-field-desktop-with-peripherals,
  .field--name-field-laptop,
  .field--name-field-tablet-computer,
  .field--name-field-mobile-phone,
  .field--name-field-computer-monitor
  {
    float: left;
    margin-right: 20px;
  }
  #edit-actions .button {
    margin-right: 15px;
  }
}

//Basic page
.basic-page-section-title
{
  text-align: left;
}
.basic-page-icon-list-table
{

}
//subpage
.basic-page-subpage.gray-background,
.basic-page-subpage.gray-background .post-content
{
  background-color: #EEE;
}

.basic-page-subpage table{

  margin-top: 30px;
  td{
     vertical-align: top;
   }
  td img{
    margin-right: 25px;
  }
}

//TODO COPIAR!! A TEMPLATE REUTILTIZA

//variables
@colorA: #000000;
@colorAover: green;

//General Styles
//links
a {
  color: @colorA;
}
a:hover{
  color: @colorAover;
}
#navigation .topbar-icons span i:hover
{
  color: @colorAover;
}
#footer a:hover{
  color: @colorAover;
}
#navigation .navbar-right li a:hover
{
  color: @colorAover;
}
#navigation .navbar-right .dropdown-menu li a:hover
{
  background-color: @colorAover;
}
#get-touch .contact-social li a:hover {
  color: @colorAover;
}
#get-touch .btn.btn-primary:hover
{
  border-color: @colorAover;
}
#get-touch .form-control:focus
{
  border-color: @colorAover;
}
.nav-tabs>li.active>a:visited
{
  color: @colorAover;
}

//forms
.form-control:focus{
  border-color: @colorAover;
}


//TODO PASSAR A REUTILTIZA

//Pàgina cerca
.user-register-form .search-page-form
{
  display: none;
}

//color barra superior
#navigation .navbar-static-top {
  background-color: rgba(69, 124, 44, 0.5);
}

//LANGUAGE SWITCHER - navigation top
.region-navigation-top .block-language ul li
{
  float: left;
  margin-left: 6px;
}
.region-navigation .block-language ul li.is-active,
.region-navigation-top .block-language ul li.is-active
{
  font-weight: bold;
}
.region-navigation .block-language ul li
{
  float: left;
  margin-left: -2px;
}
.region-navigation .block-language
{
  padding: 10px;
}

//COLLAPSIBLE MENU
@media (min-width: 768px) {
  div.region-navigation-collapsible nav {
    float: left;
  }
}
//LOGIN MENU
#block-transferhub-account-menu ul,
#block-reutilitza-account-menu ul
{
  margin-right: 0 !important;
}
a.user-dropdown-toggle
{
  padding: 0;
}


/*

#service .section-title h2:before {
  background-image: url(/reutilitza/themes/custom/transferhub/images/home/icons/shop-title-icon2.png); //todo
}
//view bloc front
.path-frontpage #screenshots
{
  margin-top: 30px;
  padding-top: 30px;
}
.path-frontpage #screenshots p {
  font-family: 'Raleway', sans-serif;
  color: #454545;
}
.path-frontpage #screenshots h2 {
  font-family: 'Raleway', sans-serif;

}
.path-frontpage #screenshots h2 a
{
  font-size: 26px;
  text-decoration: none;
}
*/