<div id="promotion" class="parallax-section video">
    <div class="overlay-bg"></div>
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h1>{{ label|raw }}</h1>
               <h2>{{ content["#text"] }}</h2>
            </div>
            <div class="col-sm-6">
                <a href="{{ content["#link"] }}" data-gallery="prettyPhoto" class="watch-video">
                    <img class="img-responsive" src="{{ theme.settings.video_image }}" alt=""  />
                </a>
            </div>
        </div>
    </div>
</div>


