<div id="promotion" class="parallax-section video">
    <div class="overlay-bg"></div>
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h1>{{ label|raw }}</h1>
               <h2>{{ content["#text"] }}</h2>
            </div>
            {{ content }}
        </div>
    </div>
</div>


