<div id="promotion" class="parallax-section">
    <div class="overlay-bg"></div>
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h1>{{ label|raw }}</h1>
                <!--a class="btn btn-primary">Purchase Now</a-->
            </div>
           {{ content }}
        </div>
    </div>
</div><!--/promotion-->
