<div class="col-sm-3 service-content">
    <div class="service-icon"><img alt="" class="img-responsive" src="sites/default/files/dona.png" /></div>

    <div class="service-text">
        <p>{{ first|raw }}</p>
    </div>
</div>

<div class="col-sm-3 service-content">
    <div class="service-icon"><img alt="" class="img-responsive" src="sites/default/files/desti.png" /></div>

    <div class="service-text"><!--<h4>Fully Responsive</h4>-->
        <p>{{ second|raw }}</p>
    </div>
</div>

<div class="col-sm-3 service-content">
    <div class="service-icon"><img alt="" class="img-responsive" src="sites/default/files/vota.png" /></div>

    <div class="service-text"><!--h4>Easy Customizable</h4>-->
        <p>{{ third|raw }}</p>
    </div>
</div>

<div class="col-sm-3 service-content">
    <div class="service-icon"><img alt="" class="img-responsive" src="sites/default/files/solicita.png" /></div>

    <div class="service-text"><!--<h4>Easy Customizable</h4>-->
        <p>{{ fourth|raw }}</p>
    </div>
</div>
