<div class="success-statistics" id="service">
    <div class="container">
        <div class="row text-center">
            <div class="col-sm-3 service-content">
                <i class="fa fa-trophy" aria-hidden="true"></i>
                <div><h2>{{ administered }}</h2></div>
                <div class="service-text">
                    <p>{% trans %}Managed devices{% endtrans %}</p>
                </div>
            </div>
            <div class="col-sm-3 service-content">
                <i class="fa fa-gift" aria-hidden="true"></i>
                <div><h2>{{ donated }}</h2></div>
                <div class="service-text">
                    <p>{% trans %}Donated devices{% endtrans %}</p>
                </div>
            </div>
            <div class="col-sm-3 service-content">
                <i class="fa fa-users" aria-hidden="true"></i>
                <div><h2>{{ helped }}</h2></div>
                <div class="service-text">
                    <p>{% trans %}Helped projects{% endtrans %}</p>
                </div>
            </div>
            <div class="col-sm-3 service-content">
                <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
                <div><h2>{{ successful }}</h2></div>
                <div class="service-text">
                    <p>{% trans %}Successful projects{% endtrans %}</p>
                </div>
            </div>
        </div>
    </div>
</div>
