<div class="col-sm-6">
    <a href="{{ link }}" data-gallery="prettyPhoto" class="watch-video">
        <img class="img-responsive" src="themes/custom/transferhub/images/home/ipad.png" alt=""  />
    </a>
</div>